main{
    display: flex;
    justify-content: center;
    padding:60px;
}
.outer-box{
    height:400px;
    width:200px;
    border:2px rgb(92, 91, 91) solid;
    border-radius: 5px;    
}
#display{
    width:85%;
    margin:10px;
    height:30px;
    }
.button{
    width:45px;
    height:45px;
    margin:3px;
    background-color:dimgrey;
    color: black;
    font-size: 18px;
    transition:0.2s ease-out;
}
.button:hover{
  border-color: aliceblue;
}
.button-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
